<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Página não encontrada...</h3>
    <main>
      <img
        src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcomunidade.lojaintegrada.com.br%2Ft%2Ferro-pagina-nao-encontrada%2F72531&psig=AOvVaw0-XSChjjFqywiO3vN2B0TD&ust=1728038531669000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCICvrqmD8ogDFQAAAAAdAAAAABAE"
        alt=""
      />
    </main>
  </body>
</html>
